* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}


.w3-container2 {
    background: linear-gradient(to bottom right, #011b19, #132c27, #1c6e6e);
}

.w3-bar {
    margin: 0 10px;
    padding: 0.5em 1em;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #ffffff;
    background-color: #215B4A;
    border-radius: 50px;
    text-shadow: 0 0 5px #3cfcb1;
    transition: all 0.3s ease-in-out;
    transform: scale(1.07);
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.5em;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom right, #011b19, #132c27, #1c6e6e);
}

#logo {
    width: 7em;
    height: auto;
}

.w3-bar a {
    margin-left: 1.25em;
    font-size: 1.25em;
}

.main-hero {
    background: url("../img/FONDO_VETGUARD.svg");
    display: flex;
    align-items: center;
    padding: 5em 8em;
    background-size: cover;
    background-position: 10em -11em;
    min-height: 85vh;
    margin-top: 8.5em;
}

.main-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-left h1 {
    font-size: 4.5rem;
    font-weight: 800;
    text-shadow: 1px 1px 8px #0b1d17;
}

.main-left p {
    font-size: 1.5rem;
    margin-bottom: 1em;
    color: #e0f7f1;
}

.main-left a {
    background-color: #0b1d17;
    padding: 1em 2.5em;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 2em;
    box-shadow: 0 4px 10px #0b1d1799;
    transition: all 0.3s ease-in-out;
}

.main-left a:hover {
    background-color: #215B4A;
    transform: scale(1.05);
}

footer {
    display: flex;
    padding: 1em;
    justify-content: center;
    gap: 3em;
    background-color: #0b1d17;
}

.intro {
    padding: 2em;
    text-align: center;
    color: #000000;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.intro p {
    font-size: 1.25rem;
    margin: 0.5em 0;
}

.preguntas-frecuentes {
    margin-top: 8.5em;
    background: #f5f5f5
}

.preguntas-frecuentes h3 {
    padding: 0 1em;
    color: #000000;
}

.pregunta {
    margin: 20px;
    padding: 10px;
    background: #132c27;
    gap: 10px;
}

.titulo-pregunta {
    font-size: 1.5rem;
}

.respuesta-pregunta p,
.respuesta-pregunta ul {
    font-size: 1.25rem;
}

.respuesta-pregunta p {
    margin: 0.5em 0;
}

.respuesta-pregunta li {
    margin: 0 1.25em;
}

.nota {
    color: gray;
}

@media screen and (max-width:480px) {

    body {
        font-size: 70%;
    }

    #logo {
        width: 7em;
    }
}