.contenedor{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    color: white;
}

body{
    font-family: "Raleway",sans-serif;
    font-size: 100%;
}

.footer{
    display: flex;
    background-color: #0b1d17;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #215B4A;
   background-color: white;
   border-radius: 4em;
    transition: 0.2s;
}

footer{
   display: flex;
    width: 100%;
    padding: 1em;
    justify-content: center;
    gap: 3em;
}

.header{
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    background: linear-gradient(to bottom right, #011b19, #132c27, #1c6e6e);
}
#logo{
    width: 6em;
}

img{
    width: 300px;
}

main{
    background: url("../img/FONDO_VETGUARD.svg");
    flex-grow: 1;
    background-size: cover;
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-position: center;
    margin-top: 5em;
}

#logo-url:hover{
    border: none;
    background-color: none;
}

#about{
    background: linear-gradient(to bottom right, #011b19, #132c27, #1c6e6e);
}

@media screen and (max-width:480px) {
    
    body{
        font-size: 70%;
    }


    #logo{
        width: 7em;
    }
}